{# Extiendo de "layout.twig" como mi "Contendor" principal #}
{% extends "layout.twig" %}

{# Guardo en el bloque "content" el contenido de esta página #}
{% block content %}
    <h1>Add Job</h1>
    <div class="alert alert-primary" role="alert">
        {{ responseMessage }}
    </div>  
    {# /jobs/add → Ruta dinámica (action) #}
    <form action="{{action}}" method="POST" enctype="multipart/form-data">
        <p>
            <label for="">
                Title
            </label>
            <input type="text" name="title">
        </p>
        <p>
            <label for="">
                Description
            </label>
            <input type="text" name="description">
        </p>
        <p>
            <input type="file" name="logo">
        </p>
    
        <button type="submit">Save</button>
    </form>
{% endblock %}