{% extends "layout.twig" %}

{% block content %}
<h1>Login</h1>
<div class="alert alert-primary" role="alert">
    {{ responseMessage }}
</div>

<form action="auth" method="POST">
    <p>
        <input type="text" name="email" placeholder="Email">
    </p>
    <p>
        <input type="password" name="password" placeholder="Password">
    </p>

    <button type="submit">
        Login
    </button>
</form>
{% endblock %}